$sm: 768px;
$md: 992px;
$lg: 1200px;

$spacer: 1rem;

// color
$white: #fff;
$black: #000;
$dark: #555;
$grey-light: #f4f4f4;
$pink: #dc4ba3;

$color-text: $dark;
$color-heading: $dark;
$color-primary: $pink;


