.footer-wrapper {
  background: $grey-light;
  padding: 70px 0;
  border-top: 1px solid darken($grey-light, 11%);
}

.footer {
  display: flex;
  flex-direction: column;

  @include screen(sm-up) {
    flex-direction: row;
  }

  &__main {
  }

  &__actions {

    @include screen(xs) {
      margin-top: 40px;
    }

    @include screen(sm-up) {
      text-align: right;
      margin-left: auto;
    }

    li {

      & + li {
        margin-top: 20px;
      }

      img {
        vertical-align: middle;
        margin-left: 4px;
      }
    }

    a {
      color: $color-text;

      span {
        color: $color-primary;
      }
    }
  }

  &__logo {
    width: 172px;
    height: 24px;
    @include imgRetina('../images/Logo', png, 172px, 24px);
    margin: 0 0 20px 0;
  }
}

.footer-icon {
  display: inline-block;

  background: red;
}
