.navbar {
  display: flex;
  padding-top: $spacer;
  padding-bottom: $spacer;
  align-items: center;

  &__logo {
    display: block;
    width: 172px;
    height: 24px;
    @include imgRetina('../images/Logo', png, 172px, 24px);

    span {
      display: none;
    }
  }

  &__nav {
    margin-left: auto;
  }
}
