.navbar {
  display: flex;
  padding-top: $spacer;
  padding-bottom: $spacer;
  align-items: center;

  &__logo {
    display: block;
    width: 172px;
    height: 24px;
    background: url(../images/Logo.png) no-repeat;

    span {
      display: none;
    }
  }

  &__nav {
    margin-left: auto;
  }
}
